<div id="content-container">
  <div class="panel panel-default">
    <div class="panel-header">
      <h1 class="h1">{{aboutTitle}}</h1>
    </div>
    <div class="panel-body">
      <p>{{aboutBody}}</p>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-header">
      <h1 class="h1">{{linksTitle}}</h1>
    </div>
    <div class="panel-body">
      <a href="http://www.ucdmc.ucdavis.edu" class="col-md-2">
        <h4 class="h4">UC Davis Health</h4>
      </a>
      <a href="http://www.ucdmc.ucdavis.edu/crhd/" class="col-md-4">
        <h4 class="h4">UCD Center for Reducing Health Disparities</h4>
      </a>
      <a href="http://www.ucdmc.ucdavis.edu/ctsc/" class="col-md-6">
        <h4 class="h4">UCD Clinical and Translational Science Center</h4>
      </a>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-header">
      <h1 class="h1">{{devTeamTitle}}</h1>
    </div>
    <div class="panel-body">
      <p>{{devTeamDescription}}</p>
    </div>
  </div>
</div>